html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}
/*body{
	 display: flex;
  flex-direction: column;
  height: 100%;
}*/

 .carousel-inner>.item>img,
 .carousel-inner>.item>a>img {
      width: 100%;
      margin: auto;
  }
.container{
	background: #B0FCF3;
	//flex: 1 0 auto;
}
.container-fluid{
     margin: 0;
}
.hed{
 	width: 100%;
 	box-sizing: border-box;
 	margin: 0px;
 	margin-top:-20px;
 	padding: 0;  	
 }
.vibor{
	padding: 15px;
	font-size: 20px;
}
.sections{
	height: 30%;
	margin: 0;
}

#section2{
	background: url(../images/sky.jpg) fixed no-repeat;
	//background-size: contain;
	width: 100%;
}
#section1{
	background: url(../images/sk1y.jpg) fixed no-repeat;
	width: 100%;
}
.top{
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
}
.active{
	background: #50ACA1;
	color: #fff;
	pointer-events:none;/*отключает клик по ссылке*/
}

.navbar-inverse,.navbar-toggle{
    background-color: #50ACA1;
    border-color: #048071;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #048071;
    background-color: #50ACA1;
}
.navbar-inverse .navbar-toggle {
	background-color: #50ACA1;
    border-color: #048071;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
   border-color: #048071;
    background-color: #50ACA1;
}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-brand {
   color: #193532;
}  

.navbar-inverse .navbar-nav>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background: #193532;
} 
.btn-success,.btn-primary {
    background-color: #2C5F59;
    border-color: #193532;
}
.btn-success:hover, .btn-success:focus, .btn-primary:hover, .btn-primary:focus {
    background-color: #0B8577;
    border-color: #193532;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #193532;
}
.navbar-brand {
    padding: 5px;
}
.navbar-brand img{
	border-radius: 5px;
}
footer{
	width: 100%;
	//bottom: 0;
	//position: absolute;
	background-color: #50ACA1;
    border-color: #048071;
    margin: 0;
	//flex: 0 0 auto;
}
footer ul {
	padding-left: 0;
   	font-size: 13px;
   	list-style-type: none;
}
footer ul li a {
   	padding: 0 0 5px 0;
   	display: block;
   	text-decoration: none;
   	color:black;
}
footer ul li a:hover,footer ul li a:focus {
	color: #ddd;
	text-decoration: none;
}
footer p{
	text-align: center;
	margin-bottom: 0;
}

.adm input, textarea{
	margin: 5px 5px 5px 0;
}
/*stars*/
.stars{
	display: block;
	position: relative;
	height: 100px;
		
}
.off{
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	background: url(../img/star.png) 20px 0;
}
.on{
	background-position:20px 20px;
}