html, body{
	height: 100%;
	margin: 0;
	padding: 10px;
}
body{
	padding-top: 50px
}
.navbar-brand{
	margin-top: -10px;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #D11102;
    border-color: #FE7D3A;
}
.btn-success{
	background-color: #FE7D3A;
    border-color: #D11102;
}
footer{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100px;
	background-color: #FE7D3A;
}
.carousel {
    width: 40%;
    float: left;
}
.marketing{
	padding-top: 15px
}
.btn-primary {
    color: #fff;
    background-color: #FE7D3A;
    border-color: #D11102;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
   background-color: #D11102;
    border-color: #FE7D3A;
}